* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.timer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 50px 10px #fff;
    color: gold;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}