* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.title {
    color: goldenrod;
}

.timer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 50px #fff;
    color: #fff;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_btn {
    margin-top: 10px;
}

.btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    border: none;
    margin-right: 10px;
    font-family: serif;
    cursor: pointer;
}

.btn-red {
    background-color: red;
}

.btn-green {
    background-color: green;
}

.btn-silver {
    background-color: silver;
}